In [1]:
#What would you use to find a numberâ€™s square root, as well as its square?

# Square root:
64 ** 0.5

8.0

In [2]:
# Square:
5 ** 2

25

In [5]:
#Answer these 3 questions without typing code. Then type code to check your answer.

#What is the value of the expression 4 * (6 + 5)
#What is the value of the expression 4 * 6 + 5 
#What is the value of the expression 4 + 6 * 5 

4 * (6 + 5)

44

In [6]:
4 * 6 + 5

29

In [7]:
4 + 6 * 5

34

# String

In [8]:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

In [12]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

In [13]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [14]:
# Method 2:
s[-1]

'o'

# List

In [15]:
#Build this list [0,0,0] two separate ways..

[0]*3

[0, 0, 0]

In [16]:
list = [0,0,0]
list

[0, 0, 0]

In [18]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:

list3 = [1,2,[3,4,'hello']]
list3

[1, 2, [3, 4, 'hello']]

In [19]:
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [20]:
#Sort the list below:
list4 = [5,3,4,6,1]
sorted(list4)

[1, 3, 4, 5, 6]

# Dictionaries

In [24]:
#Using keys and indexing, grab the 'hello' from the following dictionaries:

d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [26]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [30]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [32]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

1 . Can you sort a dictionary? Why or why not?

    Dictionary is an unorders collection of items. so we can not sort a dictionary.

# Tuples

2. What is the major difference between tuples and lists?

   Tuples is immutable and lists is mutable(changable)

In [34]:
#How do you create a tuple?

t = (1,2,3,4)
t

(1, 2, 3, 4)

# Sets

What is unique about a set?

set has unique value i.e no duplicate value.

In [36]:
#Use a set to find the unique values of the list below:

list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

# Boolean

In [37]:
2 > 3 #False

False

In [38]:
3 <= 2 #False

False

In [39]:
3 == 2.0 #False

False

In [40]:
3.0 == 3 #True

True

In [41]:
4**0.5 != 2 #False

False

In [42]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

Write a program to print a number in reverse order using logic (don't use reverse function)

In [47]:
num = int(input("Enter the number...."))

rev_num = 0

while num > 0:
    remainder = num % 10  
    rev_num = (rev_num * 10) + remainder  
    num = num // 10  
    
print("The reverse number is :",rev_num)

Enter the number....5632148
The reverse number is : 8412365

Check for Leap year? 2000 is leap 2004 leap 1900 not leap year

In [56]:
year = int(input("Enter Year..."))

if(year%4 == 0) and (year % 400 == 0) or (year % 100 != 0) :
    print(year ,"is Leap Year...")
else:
    print(year," is not a Leap Year...")

Enter Year...2004
2004 is Leap Year...